@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
span {
    color: red;
    font-weight: bold;
}

/* レイアウト */
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}

.align-center {
    text-align: center;
}

/* 見出し */

.page-title,
.heading-large,
.heading-medium {
    font-size: 2rem;
    text-align: center;
}

.page-title {
    margin-top: 3rem;
    line-height: 1.4;
}

.heading-large {
    margin-bottom: 1rem;
}

/* ボタン */
.btn {
    display: inline-block;
    font-size: 1rem;
    background-color: #1784c7;
    color: #fff;
    border-radius: 8px;
    padding: .4rem .4rem;
    transition: .5s;
    font-weight: bold;
}

.btn:hover {
    background-color: #0bd;
    scale: 1.2;
}



/* ヘッダー
------------------------------- */
.page-header {
    padding-top: 1.5rem;
}

.logo {
    width: 230px;
    padding-bottom: 0.5rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 3px;
    list-style: none;
}

.main-nav a {
    display: inline-block;
    font-size: 1rem;
    background-color: #1784c7;
    color: #fff;
    border-radius: 8px;
    padding: .4rem 0;
    transition: .5s;
    width: 107px;
    text-align: center;
}

.main-nav a:hover {
    background-color: #0bd;
}

#news .main-nav .aa,
#menu .main-nav .aa,
#contact .main-nav .aa {
    background-color: #feac02;
}


/* ヘッダーカバー画像
------------------------------- */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
    padding: 0 1rem;
}

.sub-cover {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}

/* HOME
------------------------------- */
.cover-home {
    background-image: url(../images/cover-home-s.jpg);
}

.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 0;
}

.about p {
    margin-bottom: 3rem;
}

.about2 p {
    margin-bottom: 1rem;
}

.ad2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}



/* NEWS
------------------------------- */
.cover-news {
    background-image: url(../images/cover-news-s.jpg);
}

/* 記事部分 */
.post {
    margin-bottom: 3rem;
}

.post-title {
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1.25rem;
}

.post-info {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.post-cat {
    display: flex;
    gap: .5rem;
    list-style: none;
}

.post-cat a {
    color: #432;
    background-color: #faf7f0;
    border-radius: 8px;
    font-size: .875rem;
    padding: .5rem .75rem;
}

.post-cat a:hover {
    background-color: #c9c2bc;
}

.post-date {
    font-size: .875rem;
}

.post-thumbnail {
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.post p {
    margin-bottom: 1rem;
    /* line-height: 2; */
}

.slider img {
    width: 1200px;

}

/* サイドバー */
.side-menu {
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}

.side-menu li {
    border-bottom: 1px solid #c9c2bc;
}

.side-menu a {
    color: #432;
    display: block;
    padding: 0.7rem;
}

.side-menu a:hover {
    color: #0bd;
}

.ad {
    margin-bottom: 1.5rem;

}


/* MENU
------------------------------- */
.cover-menu {
    background-image: url(../images/cover-menu-s.jpg);
}

.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    /* text-align: center; */
}

.pic-title {
    text-align: center;
}

.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}

.item p {
    font-size: .875rem;
}

/* CONTACT
------------------------------- */
.cover-contact {
    background-image: url(../images/cover-contact-s.jpg);
    margin-bottom: 3rem;

}

/* 店舗情報 */
.location {
    margin-bottom: 3.5rem;
}

.location-info {
    margin-bottom: 2rem;
}

.location-info .info {
    padding: 0;
}

/* お問い合わせ */
.email {
    max-width: 916px;
    background-color: #faf7f0;
    border-radius: 48px;
    padding: 1.5rem 1rem 1.5rem;
    margin: 0 auto 2rem;
    /* text-align: center; */
}

/* .email li {
    list-style: none;
} */

.email ul {
    padding-left: 20px;
}
.email p {
    margin: 1rem 0 1rem;
}

input[type="text"],
input[type="tel"],
textarea,
select {
    border: 1px solid #666;
}

textarea {
    width: 250px;
    height: 150px;
}

textarea[type="address"] {
    height: 60px;
}

input[type="submit"] {
    font-size: 1rem;
    background-color: #1784c7;
    color: #fff;
    border-radius: 8px;
    padding: 6.4px 8px;
    transition: .5s;
}


/* フッター
------------------------------- */
.page-footer {
    background-image: url(../images/footer-s.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 7rem;
}

.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}

.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}

.info th {
    text-align: left;
    font-weight: normal;
    padding: 0.7rem 0 0.7rem 0;
}

.info td {
    padding: 0.7rem 0 0.7rem 0.7rem;
}

.copyright {
    background-color: #432;
    text-align: center;
    padding: 1.2rem 0;
    margin-top: 4rem;
    color: #fff;
}

.sns {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: .5rem;
}

.table-map {
    padding: 0;
}

/* ふわっと表示 */
.effect-fade {
    opacity: 0;
    transform: translate(0, 100px);
    /* フェードインで動く高さを指定 */
    transition: all 2000ms;
    /* フェードインにかかる時間を指定 */
}

.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
}


.pagetop {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

/* iframe */
iframe {
    width: 90%;
}

.location-map {
    text-align: center;
    margin-top: 1.5rem;
}

/* デスクトップ版
------------------------------- */
@media (min-width: 800px) {

    /* 見出し */
    .page-title {
        font-size: 2.5rem;
    }

    .heading-large {
        font-size: 2rem;
    }

    .post-title {
        font-size: 2rem;
    }

    /* ヘッダー */
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    }

    .main-nav {
        font-size: 1.5rem;
    }


    /* ヘッダーカバー画像 */
    .sub-cover {
        height: 400px;
        margin-bottom: 5rem;
    }

    /* HOME */
    .cover-home {
        background-image: url(../images/cover-home-l.jpg);
    }

    .about {
        margin: 3rem auto 0;
    }

    .wrapper2 {
        display: flex;
        justify-content: space-between;
    }

    .about2 {
        width: 75%;
        order: 2;
    }

    .ad2 {
        margin-top: .5rem;
        order: 1;
    }

    /* NEWS */
    .cover-news {
        background-image: url(../images/cover-news-l.jpg);
    }

    .news-contents {
        display: flex;
        justify-content: space-between;
    }

    .post {
        width: 60%;
        order: 2;
    }

    .sidebar {
        width: 22%;
        order: 3;
    }

    .ad {
        order: 1;
    }

    .sidebar .heading-medium {
        line-height: 1;
        margin-bottom: 1rem;
    }

    /* MENU */
    .cover-menu {
        background-image: url(../images/cover-menu-l.jpg);
    }

    .grid {
        gap: 3rem 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .item img {
        margin-bottom: .5rem;
    }

    .item p {
        font-size: 1rem;
    }

    .item-big {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .item-big img {
        height: 86%;
        width: 100%;
    }

    /* CONTACT */
    .cover-contact {
        background-image: url(../images/cover-contact-l.jpg);
    }

    .location {
        display: flex;
        gap: 2rem;
    }


    /* フッター */
    .page-footer {
        background-image: url(../images/footer-l.jpg);
        padding-top: 10rem;
    }

    .info th {
        padding-left: 2.5rem;
    }

    /*お問い合わせ*/
    textarea {
        width: 600px;
    }

    .table-map {
        display: flex;
        /* justify-content: space-between; */
        gap: 1rem;
    }

    .info {
        width: 50%;
        margin-top: 0;
        padding-right: 1rem;
    }

    .location-map {
        width: 50%;
    }


    body {
        position: relative;
    }

    .sns {
        display: block;
        position: absolute;
        top: 150px;
        left: 50px;
        z-index: 10;
    }

    .sns div {
        height: 54px;
    }

   .email {
    padding-left: 2rem;
   }
}